apiVersion: v1
kind: Service
metadata:
  name: hello-gitops-service
  namespace: default
spec:
  selector:
    app: hello-gitops
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer
